*{
    margin: 0px;
    padding: 0px;
}
:root{
    --primaryColor: black;
    --secondaryColor: rgb(219, 189, 108);
    --thirdColor: rgb(255, 255, 255);
    --fourthColor: rgb(232, 232, 232);
}
input{
    border: none;
    border-bottom: 1px solid black;
    margin-top: 2px;
}

button{
    background-color: var(--primaryColor);
    border: 1px solid black;
    text-align: center;
    color: var(--thirdColor);
    letter-spacing: 1px;
    cursor: pointer;
}
button:active{
    transform: scale(0.99);
}
table{
    margin-top: 50px;
    width: 100%;
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--fourthColor);
}
thead{
    background-color: var(--secondaryColor);
}
thead>tr>td{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
tr{
    display: flex;
    justify-content: space-evenly;
}
td{
    width: 20%;
    padding-top: 2px;
}
td>button{
    color: white;
    background-color: black;
    width: 100%;
    padding: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}
tbody>tr{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
