*{
    margin: 0px;
    padding: 0px;
}
:root{
    --primaryColor: black;
    --secondaryColor: rgb(219, 189, 108);
    --thirdColor: rgb(255, 255, 255);
    --fourthColor: rgb(232, 232, 232);
}
input{
    border: none;
    border-bottom: 1px solid black;
    margin-top: 2px;
}

button{
    background-color: var(--primaryColor);
    border: 1px solid black;
    text-align: center;
    color: var(--thirdColor);
    letter-spacing: 1px;
    cursor: pointer;
}
