form{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 60%;
    padding: 5px;
}
.abstractImg{
    width: 50%;
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translate(0%, 0%);
}

.homeButton{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: 2px underline;
    cursor: pointer;
}
.homeButton:hover{
    text-decoration: none;
    transition: 1s;
}
.formCaption{
    color: var(--primaryColor);
    font-size: 15px;
}
.formCaptionAction{
    cursor: pointer;
    font-size: 18px;
    text-decoration: 2px underline;
}
@media screen and (max-width: 600px) {
    .abstractImg{
        display: none;
    }
}